html, body {
    margin:0;
}

.itemframe {

    background-color: rgb(228, 227, 227);
    height:90vh;
    margin-top:100px;
    width:50%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    
}

.itemframe img {

    display:block;
    width:auto;
    position:relative;
    margin: auto;
    height:490px;
    top:50%;
    transform:translateY(-50%);
    border-radius: 15px;
    
}

.itemdesc {

    position:absolute;
    display:block;
    margin-top:-35%;
    margin-left:55%;

}


.itemdesc h1 {

    font-size: 72px;
}

.itemdesc p {

    font-size:xx-large;
}

.itemdesc #manf {

    margin-bottom:-99px;

}
button {

    font-family: "Schibsted Grotesk";
    font-weight: bold;
    background-color:#008024;
    border:none;
    border-radius: 9px;
    color:white;
    font-size: 30px;
    padding:13px;
    transition:350ms ease;
}

button:hover {

    background-color:#02972c;
}

button:active {

    background-color: #005c1a;
}

#adc {

    margin-left:13px;
}

#adc img {

    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%) hue-rotate(317deg) brightness(121%) contrast(98%);
    width:auto;
    height:30px;
    padding-right:1px;
    padding-bottom:-9px;
    display: inline;
    
}

.description, .review {

    
    margin-right: 1in;
    margin-left:1in;
}

.description h1, .review h1 {

    font-size: 72px;
}

.description p {

    
    font-size: 25px;
}

.review h2 p {

    margin:0;
}
.rating {

    font-weight: bolder;
}

.review #rewrite {

    border:none;
    border-radius: 10px;
    padding:20px;
    resize: none;
    height:100px;
    width:92%;
    background-color:rgb(235, 235, 235); 
    font-family: "Schibsted Grotesk";
    font-size: large;
}

.review #sendbutt {

    
    font-size:20px;
    float:right;
    
}

#backhome {

    margin-left: 23px;
}

.botbtn {

    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
}