.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: "Schibsted Grotesk";
    
    
    
}

#haymain {

    position:fixed;
    background-color: #008024;
    color:white;
    top:0;
    width:540px;
    height:200%;
    margin-left:-8px;
    
}


.valkom {
    font-size: 52px;
    padding-left: 53px;
    margin:auto;
    padding-top:150px;

}

.def {

    display:block;
    font-size:73px;
    padding-left:53px;
    margin-top:auto;
    padding-top:23px;
}

.header2 {

    color:rgb(0, 0, 0);
    font-size: 93px;
    
    margin-left:622px;
}

.loginelements {


    margin-left:622px;
    font-size:40px;
}

input {
    
    font-family: "Schibsted Grotesk";
    width:auto;
    max-width: 900px;
    height:50px;
    padding-left:22px;
    border-radius:7px;
    font-size:23px;
    border:none;
    margin-top:13px;
    color:white;
    background-color:rgb(0, 0, 0);
    opacity: 80%;
    backdrop-filter: blur(233px);
    
}

button {

    margin-left:622px;
    height:53px;
    width:103px;
    border-radius: 7px;
    margin-top:30px;
    font-size:23px;
    border:none;
    color:white;
    background-color:#008024;
    font-family:"Schibsted Grotesk";
    font-weight: bold;
}

button:hover {

    background-color: #009e2d;
    cursor:pointer;
}

button:active {

    background-color:#005e1b
}

a {
    text-decoration: none;
    color:#005e1b;
    font-size: 23px;
    font-weight: bold;
    padding-left: 17px;
}