html, body {

  margin-left:23px;
  margin-right:23px;

  }

a {

  text-decoration: none;
  color:black;
}

a:visited {

  text-decoration:none;
  color:black;
}

a:hover {
  color: grey;
}

.mainbar {

  background-color:black;
}

.topbar {
  
  margin-top:-23px;
  padding-right:23px;
  float:left;
}

.hayshop {
  font-size: 50px;
}

.nibbles {
  position: absolute;
  padding-top:15px;
  right:0;
  padding-right:93px;
}

.logout {
  position:absolute;
  top:2.08em;
  right:0;
  padding-right:67px;
}

.home {
  position:absolute;
  font-size:20px;
  margin-top:72px;
}

