html, body {

  margin-left: 23px;
  margin-right:23px;
}

a {

  text-decoration: none;
  color:black;
  transition: 150ms linear;
}

a:visited {

  text-decoration:none;
  color:black;
}

a:hover {
  color: grey;
  cursor: pointer;
}



.mainbar {

  top:0;
  left:0;
  right:0;
  padding-left:23px;
  padding-right:23px;
  border:none;
  display:inline;
  position:fixed;
  z-index: 1;
  width:100%;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(255,255,255,1) 35%);
}

.topbar {
  
  margin-top:-23px;
  
  padding-right:23px;
  float:left;
}

.hayshop {
  font-size: 50px;
}

.nibbles {
  position: absolute;
  padding-top:15px;
  right:0;
  padding-right:93px;
  
}

.nibbles a {

  transition: 500ms ease;
}
.logout {
  position:absolute;
  top:2.08em;
  right:0;
  padding-right:67px;
  transition: 200ms ease;
}

.logout:hover {

  filter: brightness(0) saturate(100%) invert(50%) sepia(5%) saturate(9%) hue-rotate(1deg) brightness(99%) contrast(87%);
}
.home {
  position:absolute;
  font-size:20px;
  margin-top:72px;
}

.delinfo, .cartglance {

  position: absolute;
  margin-top:157px;
  background-color:#008024;
  padding-left:15px;
  padding-right:17px;
  padding-bottom:9px;
  color:white;
  border-radius: 8px;
  line-height:35px;
  filter: drop-shadow(0px 0px 3px #03410b);
  transition: 350ms ease;
}

.cartglance {

  margin-top:365px; 
  width: 305px;
  padding-right:33px;
}

.cartglance p{

  line-height:9px;
  font-size:20px;
}

.cartglance #mer {

  line-height: normal;
}
.delinfo p {

  line-height:1px;

}

.delinfo #itemno {

  
  font-size:35px;
  font-weight:450;
}

.delinfo:hover, .cartglance:hover {

  filter: drop-shadow(0px 0px 10px #058516);
  transform: scale(1.03);
}



.cartglance #mer {

  color:white;
  font-weight: bold;
}

.nyheter {

  background-image: linear-gradient(
    to top, rgba(0, 0, 0, 0.72), rgba(117, 19, 93, 0)), 
  url(images/pexels-dodogr8-916406.jpg);
  background-size: fit;
  background-size: 2322px;
  background-repeat: no-repeat;
  position:relative;
  color:rgb(255, 255, 255);
  border-radius:13px;
  padding-left:19px;
  margin-left:393px;
  top:159px;
  height:423px;
  filter: drop-shadow(0px 0px 3px #001f33);
  transition: 350ms ease;
}

.nyheter:hover {

  transform: scale(1.03);
  filter: drop-shadow(0px 0px 13px #003d66);

}
.nyheter h1 {

  font-size:40px;
}

.i-nyheter {

  line-height:9px;
  padding-top:320px;
}

.search_container {
  padding: 70px 0;
  position: sticky;
  top:0;
  z-index: 1;
  display:flex;
  justify-content: center;
  margin-top:109px;
}

input {
  
  
  font-family: "Schibsted Grotesk";
  width:100%;
  max-width: 900px;
  height:50px;
  padding-left:22px;
  padding-right:22px;
  border-radius:29px;
  font-size:23px;
  border:none;
  margin-top:13px;
  color:rgb(0, 0, 0);
  background-color:rgb(235, 235, 235);
  transition: 350ms ease;

}

.sidebar_main {

  padding-top:159px;
  margin-top:-129px;
  position:sticky;
  top:0;
  z-index: inherit;
}

.sidebar_inner {
  overflow:auto;
  margin-top:10px;
  background-color:#ececec;
  border-radius: 9px;
  width:15%;
  padding-left:20px;
  padding-top: 0.1px;
  padding-bottom:1px;

  
}

.profil {

 
  margin-left:15px;
  margin-top:-80px;
  font-size: 32px;
  max-width: 70px;

}

.itemfin {

    position:static;
    margin-top:-619px;
    margin-left:20%;
    height:auto;
    line-height: 15px;
}

.col1 {

  flex-basis: 25%;
  padding:10px;
  min-width: 200px;
  margin-bottom: 50px;
  display:inline-block;
}
