html, body {

    margin-left: 23px;
    margin-right:23px;
  }


  .header1 {

    margin-top:109px;
    font-size: 30px;
    
}


#payment {

    font-family: "Schibsted Grotesk";
    width:auto;
    max-width: 900px;
    height:50px;
    padding-left:22px;
    padding-right:22px;
    border-radius:7px;
    font-size:23px;
    border:none;
    margin-top:13px;
    color:white;
    background-color:#008024;
    opacity: 80%;
    backdrop-filter: blur(233px);

}

#submit {

    position:sticky;
    top:1;
    border:none;
    font-family: "Schibsted Grotesk";
    color:white;
    background-color:#008024;
    border-radius: 3px;
    font-size: 33px;
    font-weight:bold;
    margin-bottom:232px;
    float:right;
    transition: 155ms ease;
}

#submit:hover {
    cursor: pointer;
    background-color:#00942a;

}

#submit:active {

    background-color:green;

}

#gcnm {

    width:290px;
}
